.my-bookings-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.my-bookings-page-banner {
  background-color: #A93F05;
  padding: 0 20vw 0 20vw;
  height: 8vh;
  color: white;
  font-family: OpenSans, sans-serif;
  align-content: center;
}
.breadcrumb-bar {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
}
.my-bookings-page-banner span {
  font-weight: 400;
  font-size: 0.65vw;
  color: #F6FAF9;
}
.my-bookings-page-content {
  display: flex;
  flex-direction: column;
  padding: 2vh 20vw 2vh 20vw;
  width: 100%;
  height: 100%;
  gap: 2vw;
}
.my-bookings-page-content-header {
  display: flex;
  flex-direction: column;
}
.my-bookings-page-content-header-count {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
}
.my-bookings-main-header {
  color: rgba(7, 25, 95, 1);
  font-weight: 700;
  font-size: calc(5px + 1.5vw);
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 29.72vh;
  background-color: white;
  border-radius: 4px;
  gap: 10px;
}
.image-container {
  position: relative;
  display: flex;
  width: 14vw;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
}
.no-provided-data {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.no-provided-data span {
  color: #B5BACF;
  font-size: 1.7vw;
  font-weight: 700;
  padding: 5vw;
}
.bookings-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2vw;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.like-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 2vw;
  height: 4vh;
  border-radius: 50%;
  background: rgba(246, 250, 249, 0.8);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.like-btn svg {
  width: 100%;
  height: 100%;
}

.hotel-info {
  display: flex;
  flex-direction: column;
  width: 18vw;
  height: 100%;
  padding-left: 5px;
}
.hotel-info-stars-container {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
}
.hotel-info-stars-container span {
  font-size: 15px;
  font-weight: 600;
}
#hotel-name {
  font-size: 27px;
  font-weight: 700;
  color: #0C0C20;
}
#hotel-location {
  font-size: 19px;
  font-weight: 700;
  color: #0C0C20;
}
.hotel-room-info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#room-info {
  color: #555563;
  font-size: 17px;
  font-weight: 700;
}
#beds-info {
  color: #555563;
  font-size: 17px;
  font-weight: 400;
}
.rooms-count-left {
  width: 50%;
  margin-top: auto;
  color: #A93F05;
  font-size: 17px;
  font-weight: 700;
}

.hotel-detail-info {
  display: flex;
  flex-direction: column;
  width: 14vw;
  height: 100%;
}
.hotel-review-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  gap: 10px;
}
.hotel-review {
  display: flex;
  flex-direction: column;
  align-items: self-end;
}
.hotel-rate-number {
  width: 2vw;
  height: 4vh;
  background: #07195F;
  border-radius: 4px;
  padding: 0;
  align-content: center;
  text-align: center;
}

.hotel-rate-number span{
  color: white;
  font-weight: 700;
  font-size: 0.9vw;
  margin: 0;
}
.hotel-grade {
  display: flex;
}
#hotel-grade {
  font-weight: 700;
  font-size: 0.8vw;
}
#reviews-count {
  font-weight: 400;
  font-size: 0.6vw;
}
.hotel-price-container {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  width: 100%;
}
.hotel-price-container input {
  border: none;
  background: #07195F;
  color: white;
  font-weight: 700;
  border-radius: 4px;
  width: 30%;
  margin-left: auto;
  height: 4vh;
  margin-top: 10px;
  transition: ease-in-out 0.2s;
}
.hotel-price-container input:hover {
  background: #355ba8;
}
#new-price {
  font-weight: 700;
  font-size: 1vw;
  margin-left: auto;
  color: #0C0C20;
}
#old-price {
  font-weight: 700;
  font-size: 0.75vw;
  margin-left: auto;
  color: #0C0C20;
  text-decoration: line-through;
}
.booking-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: auto;
  margin-bottom: 0.1vw;
  gap: 0.3vw;
}
.booking-details-header {
  color: rgba(12, 12, 32, 1);
  font-weight: 700;
  font-size: 0.75vw;
}
.booking-dates {
  display: flex;
  flex-direction: row;
  gap: 3vw;
}
.booking-date {
  display: flex;
  flex-direction: column;
  gap: 0.3vw;
}
.booking-date-header {
  font-weight: 400;
  font-size: 0.6vw;
  color: rgba(12, 12, 32, 1);
}
.booking-check-date {
  font-weight: 700;
  font-size: 0.7vw;
  color: rgba(169, 63, 5, 1);
}
.booking-check-date-time {
  color: rgba(85, 85, 99, 1);
  font-weight: 400;
  font-size: 0.65vw;
}
hr {
  background: #E6EBF2;
  opacity: 10;
  margin: 0;
}
hr:not([size]) {
  height: 3px;
}
