<div class="body">
  <hr style="margin-top: -1px">
  <div class="registration-page">
    <div class="registration-form">
      <div class="registration-header">
        <h1>Create an account </h1>
        <h2>You can sign up to access our services.</h2>
      </div>
      <div class="input-field">
        <span>Username</span>
        <input type="text" placeholder="Username" [(ngModel)]="username"/>
      </div>
      <div class="input-field">
        <span>Email address</span>
        <input type="text" placeholder="Email" [(ngModel)]="email"/>
      </div>
      <div class="input-field">
        <span>Password</span>
        <input type="password" placeholder="Password" [(ngModel)]="password"/>
      </div>
      <input type="button" value="Sign up" (click)="signUpClick()"/>
      <div class="create-acc-field">
        <span>Do you have an account?</span>
        <a routerLink="/login">Sign in.</a>
      </div>
    </div>
  </div>
</div>

