.registration-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-self: center;
  height: 60vh;
  width: 40%;
  padding: 0 1vw;
  margin-top: 5vh;
}
.body {
  padding: 0 15vw;
}
hr {
  border: 2px solid rgb(169, 63, 5);
  opacity: 1;
  width: 100%;
  border-radius: 4px;
}
.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5vh;
  width: 80%;
}
.registration-form h1 {
  color: rgba(7, 25, 95, 1);
  font-weight: 700;
}
.registration-form h2 {
  color: rgba(85, 85, 99, 1);
  font-weight: 400;
  font-size: 19px;
}
.input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}
.input-field a {
  color: rgba(85, 85, 99, 1);
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}
.input-field span {
  font-weight: 600;
  color: rgba(12, 12, 32, 1);
}
input[type="text"],[type="password"] {
  width: 100%;
  height: 3vh;
  border: 1px solid rgba(12, 12, 32, 1) ;
  padding: 0 10px;
}
input[type="button"] {
  width: 100%;
  height: 5vh;
  background-color: rgba(7, 25, 95, 1);
  color: rgba(246, 250, 249, 1);
  font-weight: 700;
  font-size: 23px;
  border-radius: 4px;
  border: none;
}
.create-acc-field {
  display: flex;
  flex-direction: row;
  color: rgba(12, 12, 32, 1);
  gap: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.create-acc-field hr {
  width: 20%;
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 4px;
}
.create-acc-field a {
  color: rgba(169, 63, 5, 1);
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}
.options {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}
.registration-option {
  display: flex;
  border: 2px solid rgba(222, 228, 234, 1);
  border-radius: 4px;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.registration-header {
  width: 100%;
}
.registration-option:hover {
  scale: 1.02;
}
#copyright {

}
