.registration-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-self: center;
  height: 30vw;
  width: 40%;
  padding: 0 1vw;
  margin-top: 2.5vw;
}
.body {
  padding: 0 15vw;
}
hr {
  border: 2px solid rgb(169, 63, 5);
  opacity: 1;
  width: 100%;
  border-radius: 4px;
}
.registration-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75vw;
  width: 80%;
}
.registration-form h1 {
  color: rgba(7, 25, 95, 1);
  font-weight: 700;
  font-size: 1.5vw;
}
.registration-form h2 {
  color: rgba(85, 85, 99, 1);
  font-weight: 400;
  font-size: 0.75vw;
}
.input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.3vw;
}
.input-field a {
  color: rgba(169, 63, 5, 1);
  font-weight: 400;
  font-size: 0.65vw;
  cursor: pointer;
  text-decoration: none;
}
.input-field a:hover {
  text-decoration: underline;
}
.input-field span {
  font-weight: 600;
  font-size: 0.7vw;
  color: rgba(12, 12, 32, 1);
}
input[type="text"],[type="password"] {
  width: 100%;
  height: 1.5vw;
  border: 1px solid rgba(12, 12, 32, 1);
  border-radius: 4px;
  padding: 0 0.5vw;
  font-size: 0.7vw;
}
input[type="button"] {
  width: 100%;
  height: 2.5vw;
  background-color: rgba(7, 25, 95, 1);
  color: rgba(246, 250, 249, 1);
  font-weight: 700;
  font-size: 1vw;
  border-radius: 4px;
  border: none;
  transition: ease-in-out 0.2s;
}
input[type="button"]:hover {
  background-color: #39477f;
}
.create-acc-field {
  display: flex;
  flex-direction: row;
  color: rgba(12, 12, 32, 1);
  gap: 0.5vw;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.create-acc-field hr {
  width: 20%;
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 4px;
}
.create-acc-field a {
  color: rgba(169, 63, 5, 1);
  font-weight: 600;
  font-size: 0.65vw;
  cursor: pointer;
  text-decoration: none;
  transition: ease-in-out 0.2s;
}
.create-acc-field a:hover {
  text-decoration: underline;
}
.create-acc-field span {
  font-size: 0.65vw;
}
.options {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}
.registration-option {
  display: flex;
  border: 2px solid rgba(222, 228, 234, 1);
  border-radius: 4px;
  width: 4vw;
  height: 4vw;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.registration-option:hover {
  border: 2px solid #07195f;
}
