.main-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2vw;
}
.main-page-banner {
  position: relative;
  background-color: #A93F05;
  padding: 1.04vw 18vw 0 20vw;
  height: 5.21vw;
  color: white;
  font-family: OpenSans, sans-serif;
}
.main-page-banner-content {
  max-width: 100%;
}

.banner-text {
  display: flex;
  flex-direction: column;
}
.main-text {
  font-size: 2vw;
  font-weight: 800;
  margin: 0.52vw 0;
  font-family: "Open Sans", sans-serif;
}

.sub-text {
  font-size: 0.94vw;
  margin-bottom: 1.04vw;
}
.search-bar {
  display: flex;
  gap: 0.26vw;
  width: 60%;
  height: 3.5vw;
  background: #002f5b;
  border-radius: 8px;
  padding: 0.26vw;
  position: absolute;
  margin-top: 2.08vw;
}

.search-field {
  display: flex;
  flex-direction: row;
  flex: 1;
  text-align: left;
  border-radius: 4px;
  padding-right: 0.52vw;
  align-items: center;
  background-color: white;
  cursor: pointer;
}
.search-field-rooms {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
  text-align: left;
  border-radius: 4px;
  padding-right: 0.52vw;
  align-items: center;
  background-color: white;
  cursor: pointer;
  width: 100%;
}
.search-field label {
  font-weight: 700;
  font-size: 0.75vw;
  font-family: "Open Sans", sans-serif;
}

.field-title {
  display: block;
  font-size: 0.63vw;
  color: #002f5b;
  margin-bottom: 0.26vw;
  font-weight: bold;
}
.custom-slider {
  width: 90%;
}

.mat-slider-thumb {
  background-color: #e6e9f0 !important;
  border: 0.10vw solid #4a4a4a !important;
  width: 1.04vw !important;
  height: 1.04vw !important;
}

.mat-slider-track-fill {
  background-color: #07195F !important;
  height: 0.31vw !important;
}

.mat-slider-track-background {
  background-color: #ccc !important;
  height: 0.31vw !important;
}
.dropdown {
  appearance: none;
  width: 100%;
  padding: 1.04vw;
  font-size: calc(0.10vw + 0.7vw);
  height: 3.65vw;
  border-radius: 4px;
  border: none;
  outline: none;
  color: #002f5b;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  align-content: center;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 0.05vw solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0.21vw 0.42vw rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 0.52vw;
  width: 100%;
  transition: all 0.3s ease-in-out;
  margin-top: 0.26vw;
}
.dropdown-content-rooms {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 0.05vw solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0.21vw 0.42vw rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 0.52vw;
  width: 100%;
  transition: all 0.3s ease-in-out;
  margin-top: 0.26vw;
}
.dropdown-content-rooms.show {
  display: block;
  animation: dropdownFade 0.3s ease-in-out;
  width: 100%;
}
.dropdown-content.show {
  display: block;
  animation: dropdownFade 0.3s ease-in-out;
}

@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-0.52vw);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.no-provided-data {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.no-provided-data span {
  color: #B5BACF;
  font-size: 1.7vw;
  font-weight: 700;
  padding: 5vw;
}
.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.63vw;
  cursor: pointer;
  transition: 0.2s;
  border-bottom: 0.05vw solid #f0f0f0;
}

.dropdown-item:last-child {
  border-bottom: none;
}

.dropdown-item:hover {
  background-color: #f0f8ff;
  color: #004080;
  font-weight: bold;
}

.counter {
  display: flex;
  align-items: center;
  gap: 0.52vw;
}

.counter button {
  background-color: transparent;
  border: 0.05vw solid #ccc;
  border-radius: 4px;
  padding: 0.26vw 0.52vw;
  font-size: 0.94vw;
  cursor: pointer;
  transition: 0.3s;
}

.counter button:hover {
  background-color: #004080;
  color: white;
}

.counter span {
  font-size: 0.83vw;
  font-weight: bold;
  color: #002f5b;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 3.2vw;
  right: 0;
  background-color: white;
  border: 0.05vw solid #ddd;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 0.21vw 0.42vw rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 0.52vw;
  transition: all 0.3s ease-in-out;
  width: 28%;
  margin-right: 9.2vw;
}
.people-dropdown-content{
  display: none;
  position: absolute;
  top: 4.17vw;
  background-color: white;
  border: 0.05vw solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0.21vw 0.42vw rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 0.52vw;
  transition: all 0.3s ease-in-out;
  width: 28%;
  margin-right: 9.2vw;
}
.dropdown-content.show {
  display: block;
  animation: dropdownFade 0.3s ease-in-out;
  justify-self: end;
}

@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-0.52vw);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.63vw;
  transition: 0.2s;
  border-bottom: 0.05vw solid #f0f0f0;
  border-radius: 4px;
  font-size: calc(0.10vw + 0.7vw);
  color: #002f5b;
  font-weight: 700;
  cursor: auto;
}
.dropdown-item:hover {
  background-color: transparent;
}

.dropdown-item:last-child {
  border-bottom: none;
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.52vw;
  border: 0.10vw solid rgba(230, 235, 242, 1);
  border-radius: 4px;
}

.counter button {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  padding: 0.26vw 0.52vw;
  font-size: 0.94vw;
  cursor: pointer;
  color: #A93F05;
}
.counter button:hover {
  background-color: rgba(230, 235, 242, 1);
  color: #A93F05;
}
.counter span {
  font-size: calc(0.10vw + 0.7vw);
  color: #002f5b;
  font-weight: 700;
}
.city-selector-field {
  display: flex;
  flex-direction: row;
  flex: 1;
  text-align: left;
  border-radius: 4px;
  align-items: center;
  background-color: white;
  cursor: pointer;
  padding-right: 0.52vw;
}

.city-selector-input {
  appearance: none;
  width: 100%;
  padding: 0.52vw;
  font-size: calc(0.10vw + 0.7vw);
  border: none;
  outline: none;
  color: #002f5b;
  font-weight: 600;
  cursor: pointer;
  align-self: center;
}

.city-dropdown-content {
  display: none;
  position: absolute;
  top: 2.72vw;
  left: 0.2vw;
  background-color: white;
  border: 0.05vw solid #ddd;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 0.21vw 0.42vw rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 16.5vw;
  max-height: 15.63vw;
  margin-top: 0.75vw;
  overflow-y: auto;
}

.city-dropdown-content.show {
  display: block;
}

.dropdown-header {
  font-weight: bold;
  font-size: 0.8vw;
  color: #002f5b;
}

.city-dropdown-item {
  display: flex;
  align-items: center;
  padding: 0.52vw;
  cursor: pointer;
  border-bottom: 0.05vw solid #f0f0f0;
  transition: background 0.3s;
}

.city-dropdown-item:last-child {
  border-bottom: none;
}

.city-dropdown-item:hover {
  background-color: #f0f0f0;
  color: #004080;
  font-weight: bold;
}

.location-icon {
  width: 1.04vw;
  height: 1.04vw;
  margin-right: 0.52vw;
}

.city-details {
  display: flex;
  flex-direction: column;
}

.city-details strong {
  font-size: 0.83vw;
  color: #004080;
}

.city-details small {
  color: gray;
}
input[matStartDate], input[matEndDate] {
  cursor: pointer;
}

.calendar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: center;
  align-self: center;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  font-size: calc(0.10vw + 0.7vw);
  padding: 0 0.52vw 0 1.04vw;
  color: #002f5b;

}
::ng-deep .mat-calendar {
  width: 16.5vw !important;
  background-color: white !important;
  border-radius: 8px;
  box-shadow: 0 0.21vw 0.42vw rgba(0, 0, 0, 0.1);
}

::ng-deep .mat-calendar-body-cell-content {
  font-size: 0.83vw !important;
  color: #333 !important;
  border-radius: 8px;
}
::ng-deep .mat-datepicker-content-container{
  background: white;
  border-radius: 8px;
}
::ng-deep .mat-datepicker-content .mat-calendar {
  height: auto !important;
}
::ng-deep .mat-calendar-header {
  background-color: white !important;
  color: white !important;
}

::ng-deep .mat-calendar-body-selected {
  background-color: #002f5b !important;
  color: white !important;
}
::ng-deep .cdk-overlay-pane {
  margin-top: 1.15vw;
  margin-left: -3.1vw;
}

mat-calendar{
  background: white;
}

.calendar-dropdown.show {
  display: block;
}
.search-field-icon {
  width: 2.60vw;
  height: 2.60vw;
  padding: 0.42vw 0 0.42vw 0.42vw;
  align-self: center;
}

.dropdown::placeholder {
  color: #8a8a8a;
}

.search-button {
  background-color: #07195f;
  color: white;
  width: 15%;
  height: 3vw;
  padding: 0.52vw 1.04vw;
  font-size: 1.20vw;
  font-weight: bold;
  border: 0.10vw solid white;
  border-radius: 4px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.search-button:hover {
  background-color: #39477f;
}

.search-field select:focus,
.search-field input:focus {
  outline: none;
}

.search-results-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #E6EBF2;
}
.search {
  display: flex;
  flex-direction: column;
  padding: 0 20vw 0 20vw;
  margin-top: 2.5vw;
  height: 100%;
}

.breadcrumb-bar-item {
  color: rgba(169, 63, 5, 1);
  font-weight: 400;
  text-decoration: none;
  font-size: 0.7vw;
}
.breadcrumb-bar-item-last {
  color: #0c0c20;
  font-weight: 400;
  text-decoration: none;
  font-size: 0.7vw;
}
.filters-fields {
  display: flex;
  flex-direction: column;
  width: 20%;
  border-radius: 5px;
  border: 2px solid #E6EBF2;
  padding: 20px;
  background-color: white;
}
.filters-fields a {
  color: #A93F05;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.filters-fields a:hover {
  color: #70320f;
}
.filter-headers {
  font-weight: 700;
  font-size: 0.7vw;
}

.filters-fields a:hover .filter-chevron path {
  stroke: #70320f;
  transition: 0.2s ease-in-out;
}
.filters-fields p {
  color: #0C0C20;
}
.filters-fields hr {
  margin: 0 0 10px 0;
  width: 100%;
  height: 2px;
  background-color: #E6EBF2;
}
.filters-fields h2 {
  font-weight: 700;
  color: #0C0C20;
  font-size: 1vw;
}
.filters-fields input[type="text"] {
  width: 30%;
  height: 1.5vw;
  border: 1px solid #07195FCC;
  border-radius: 4px;
  color: #0C0C20;
}
.filters-fields input[type="button"] {
  width: 33px;
  height: 26px;
  border: 1px solid #07195FCC;
  color: #0C0C20;
  font-weight: 600;
  border-radius: 4px;
}
.filters-fields input[type="checkbox"] {
  width: 1vw;
  height: 1vw;
  border: 1px solid #D1D9E6;
  border-radius: 4px;
  cursor: pointer;
  accent-color: #07195F;
}
.filters-header {
  display: flex;
  flex-direction: row;
}
.search-results {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 100%;
  margin-left: 12.5vw;
  margin-bottom: 0.5vw;
}
.search-results h1 {
  color: rgba(7, 25, 95, 1);
  font-weight: 700;
  font-size: calc(4px + 1vw);
}
.filters-fields-display-row-price {
  display: flex;
  flex-direction: row;
  gap: 0.52vw;
  align-items: center;
}
.filters-fields-display-row {
  display: flex;
  flex-direction: row;
  gap: 0.52vw;
}
.filters-fields-display-row-price input[type="text"] {
  width: 3vw;
  height: 1.2vw;
}
.filters-fields-display-row-price input[type="button"] {
  width: 2vw;
  height: 1.2vw;
  background: #e6ebf2;
  border: 2px solid #07195F;
  color: #07195F;
  font-weight: 700;
  font-size: 0.6vw;
}
.filters-fields-display-row input[type="checkbox"] {
  appearance: none;
  border: 0.10vw solid #07195F;
  width: 1vw;
  height: 1vw;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.filters-fields-display-row input[type="checkbox"]:checked {
  background-color: #07195F;
}

.filters-fields-display-row input[type="checkbox"]:checked::after {
  content: '✓';
  color: white;
  font-size: 0.8vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
}

.filters-fields-display-row p {
  font-size: 0.7vw;
}
.filter-result-count {
  margin-left: auto;
}
.filter-option-select {
  margin-left: auto;
  margin-right: 0.6vw;
  width: 10.94vw;
  height: 1.98vw;
  align-self: center;
  border: 0.16vw solid #E6EBF2;
  color: #07195F;
  font-weight: 600;
  border-radius: 4px;
  padding-left: 0.26vw;
}
.hotels-search-cards {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 50vw;
  gap: 0.5vw;
  border-radius: 4px;
  padding: 1.04vw;
  overflow-y: auto;
}
.filter-chevron {
  margin-left: 0.52vw;
}
.breadcrumb {
  display: flex;
  flex-direction: row;
  gap: 0.42vw;
}
.breadcrumb-arrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
