.body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 14.86vw;
  background-color: white;
  padding: 0.6vw;
  border-radius: 4px;
  gap: 0.4vw
}
.image-container {
  position: relative;
  display: flex;
  width: 14vw;
  height: 14vw;
  border-radius: 4px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.like-btn {
  position: absolute;
  top: 0.4vw;
  right: 0.4vw;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background: rgba(246, 250, 249, 0.8);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.like-btn svg {
  width: 100%;
  height: 100%;
}

.hotel-info {
  display: flex;
  flex-direction: column;
  width: 18vw;
  height: 100%;
  padding-left: 0.2vw;
}
.hotel-info-stars-container {
  display: flex;
  flex-direction: row;
  gap: 0.14vw;
  align-items: center;
}
.hotel-info-stars-container span {
  font-size: 0.68vw;
  font-weight: 600;
}
#hotel-name {
  font-size: 1.17vw;
  font-weight: 700;
  color: #0C0C20;
}
#hotel-location {
  font-size: 0.8vw;
  font-weight: 700;
  color: #07195f;
  text-decoration: underline;
}
.hotel-room-info {
  margin-top: 0.5vw;
  display: flex;
  flex-direction: column;
  gap: 0.1vw;
}
#room-info {
  color: #555563;
  font-size: 0.68vw;
  font-weight: 700;
}
#beds-info {
  color: #555563;
  font-size: 0.62vw;
  font-weight: 400;
}
.rooms-count-left {
  width: 50%;
  margin-top: auto;
  color: #A93F05;
  font-size: 0.68vw;
  font-weight: 700;
}

.hotel-detail-info {
  display: flex;
  flex-direction: column;
  width: 14vw;
  height: 100%;
}
.hotel-review-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  gap: 0.4vw;
}
.hotel-review {
  display: flex;
  flex-direction: column;
  align-items: self-end;
}
.hotel-rate-number {
  width: 2vw;
  height: 2vw;
  background: #07195F;
  border-radius: 4px;
  padding: 0;
  align-content: center;
  text-align: center;
}

.hotel-rate-number span{
  color: white;
  font-weight: 700;
  font-size: 0.9vw;
  margin: 0;
}
.hotel-grade {
  display: flex;
}
#hotel-grade {
  font-weight: 700;
  font-size: 0.8vw;
}
#reviews-count {
  font-weight: 400;
  font-size: 0.6vw;
}
.hotel-price-container {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  width: 100%;
}
.hotel-price-container input {
  border: none;
  background: #07195F;
  color: white;
  font-weight: 700;
  font-size: 0.7vw;
  border-radius: 4px;
  width: 30%;
  margin-left: auto;
  height: 2vw;
  margin-top: 0.5vw;
  transition: ease-in-out 0.2s;
}
.hotel-price-container input:hover {
  background: #39477f;
}
#new-price {
  font-weight: 700;
  font-size: 1vw;
  margin-left: auto;
  color: #0C0C20;
}
#old-price {
  font-weight: 700;
  font-size: 0.75vw;
  margin-left: auto;
  color: #0C0C20;
  text-decoration: line-through;
}
