<div class="card">
  <div class="image-container">
    <img class="card-image" ngSrc="{{image}}" alt="" fill/>
    <button class="favorite-button" aria-label="Add to favorites">
      <span>&#x2764;</span>
    </button>
  </div>
  <div class="card-content">
    <div class="card-header">
      <span class="card-title">{{ title }}</span>
      <span class="card-location">{{ location }}</span>
    </div>
    <div class="card-footer">
      <div class="rating">
        <div class="rating-score">{{ rating }}</div>
        <div class="rating-text">Good</div>
        <div>&bull;</div>
        <p class="reviews">{{ reviews }} reviews</p>
      </div>
    </div>
  </div>
</div>
