.card {
  width: 12vw;
  height: 18vw;
  border-radius: 4px;
  box-shadow: 0 0.10vw 0.21vw rgba(0, 0, 0, 0.25);
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  border: 0;
  background-color: #fff;
  z-index: -1;
}

.image-container {
  position: relative;
  height: 10.8vw; /* 60% от общей высоты 18vw */
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.favorite-button {
  position: absolute;
  top: 0.52vw;
  right: 0.52vw;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  width: 2vw;
  height: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.favorite-button span {
  font-size: 1vw;
  color: #000;
}

.card-content {
  padding: 0 0.83vw 0.83vw 0.83vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 7.2vw; /* 40% от общей высоты 18vw */
  overflow: hidden;
}

.card-header {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  height: auto;
  padding: 0;
}

.card-title {
  font-size: 0.9vw;
  font-weight: bold;
  margin: 0.4vw 0 -0.1vw 0;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 1.2;
  cursor: pointer;
}

.card-location {
  font-size: 0.75vw;
  color: #666;
  margin: 0.21vw 0 0.83vw;
  height: 1.04vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
}

.rating {
  display: flex;
  align-items: center;
  gap: 0.26vw;
  margin-top: auto;
}

.rating-score {
  width: 2.08vw;
  height: 2.08vw;
  font-size: 0.9vw;
  font-weight: 700;
  background-color: #07195F;
  color: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-text {
  font-size: 0.7vw;
  color: #0C0C20B2;
  font-weight: 400;
}

.reviews {
  font-size: 0.7vw;
  color: #0C0C20B2;
  margin: 0;
  font-weight: 400;
}
