.card {
  width: 12vw;
  height: 18vw;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  border: 0;
  background-color: #fff;
  z-index: -1;
}

.image-container {
  position: relative;
  height: 20vw;
}

.card-image {
  width: auto;
  height: 265px;
  object-fit: cover;
}

.favorite-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.favorite-button span {
  font-size: 18px;
  color: #000;
}

.card-content {
  padding: 0 16px 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
}
.card-header {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  height: auto;
  padding: 0;
}
.card-title {
  font-size: 19px;
  font-weight: bold;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word; /* Додаємо перенос слів */
  display: -webkit-box;       /* Використовуємо для багаторядкового обмеження */
  -webkit-line-clamp: 2;      /* Обмежуємо до 2 рядків */
  -webkit-box-orient: vertical;
}

.card-location {
  font-size: 17px;
  color: #666;
  margin: 4px 0 16px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.rating-score {
  width: 40px;
  height: 40px;
  font-size: 19px;
  font-weight: 700;
  background-color: #07195F;
  color: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-text {
  font-size: 17px;
  color: #0C0C20B2;
  font-weight: 400;
}

.reviews {
  font-size: 17px;
  color: #0C0C20B2;
  margin: 0;
  font-weight: 400;
}
