<div class="main-page">
  <div class="main-page-banner">
    <div class="main-page-banner-content">
      <div class="banner-text">
        <p class="main-text">Feel at home wherever you are</p>
        <p class="sub-text">Book accommodation quickly and conveniently around the world.</p>
      </div>

      <div class="search-bar">
        <!-- LOCATION -->
        <div class="search-field">
          <label for="location" class="field-title">LOCATION</label>
          <select id="location" class="dropdown">
            <option selected>New York</option>
            <option>Los Angeles</option>
            <option>Chicago</option>
            <option>Miami</option>
          </select>
        </div>
        <!-- CHECK IN -->
        <div class="search-field">
          <label for="check-in" class="field-title">CHECK IN</label>
          <input type="date" id="check-in" class="dropdown" value="2024-12-20">
        </div>
        <!-- CHECK OUT -->
        <div class="search-field">
          <label for="check-out" class="field-title">CHECK OUT</label>
          <input type="date" id="check-out" class="dropdown" value="2024-01-03">
        </div>
        <!-- GUEST -->
        <div class="search-field">
          <label for="guests" class="field-title">GUEST</label>
          <select id="guests" class="dropdown">
            <option selected>2 adults · 0 children</option>
            <option>1 adult</option>
            <option>2 adults · 1 child</option>
            <option>2 adults · 2 children</option>
          </select>
        </div>
        <!-- SEARCH BUTTON -->
        <button class="search-button">Search</button>
      </div>
    </div>
  </div>

  <div class="main-page-search-results">
    <div class="filters">
      <div class="filter-section">
        <h3 class="filter-title">Удобства</h3>
        <div class="filter-options">
          <label>
            <input type="checkbox" />
            Парковка <span class="filter-count">54</span>
          </label>
          <label>
            <input type="checkbox" />
            Ресторан <span class="filter-count">20</span>
          </label>
          <label>
            <input type="checkbox" />
            Можно с питомцами <span class="filter-count">8</span>
          </label>
          <label>
            <input type="checkbox" />
            Доставка еды и напитков в номер <span class="filter-count">16</span>
          </label>
          <label>
            <input type="checkbox" />
            Круглосуточная стойка регистрации <span class="filter-count">20</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
