.main-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2vw;
}
.main-page-banner {
  position: relative;
  background-color: #A93F05;
  padding: 1.04vw 18vw 0 20vw;
  height: 5.21vw;
  color: white;
  font-family: OpenSans, sans-serif;
}
.main-page-banner-content {
  max-width: 100%;
}

.banner-text {
  display: flex;
  flex-direction: column;
}
.main-text {
  font-size: 2vw;
  font-weight: 800;
  margin: 0.52vw 0;
  font-family: "Open Sans", sans-serif;
}

.sub-text {
  font-size: 0.94vw;
  margin-bottom: 1.04vw;
}
.search-bar {
  display: flex;
  gap: 0.26vw;
  width: 60%;
  height: 3.5vw;
  background: #002f5b;
  border-radius: 8px;
  padding: 0.26vw;
  position: absolute;
  margin-top: 2.08vw;
}

.search-field {
  display: flex;
  flex-direction: row;
  flex: 1;
  text-align: left;
  border-radius: 4px;
  padding-right: 0.52vw;
  align-items: center;
  background-color: white;
  cursor: pointer;
}
.search-field-rooms {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
  text-align: left;
  border-radius: 4px;
  padding-right: 0.52vw;
  align-items: center;
  background-color: white;
  cursor: pointer;
  width: 100%;
}
.search-field label {
  font-weight: 700;
  font-size: 0.75vw;
  font-family: "Open Sans", sans-serif;
}

.field-title {
  display: block;
  font-size: 0.63vw;
  color: #002f5b;
  margin-bottom: 0.26vw;
  font-weight: bold;
}
.custom-slider {
  width: 90%;
}

.mat-slider-thumb {
  background-color: #e6e9f0 !important;
  border: 0.10vw solid #4a4a4a !important;
  width: 1.04vw !important;
  height: 1.04vw !important;
}

.mat-slider-track-fill {
  background-color: #07195F !important;
  height: 0.31vw !important;
}

.mat-slider-track-background {
  background-color: #ccc !important;
  height: 0.31vw !important;
}
.dropdown {
  appearance: none;
  width: 100%;
  padding: 1.04vw;
  font-size: calc(0.10vw + 0.7vw);
  height: 3.65vw;
  border-radius: 4px;
  border: none;
  outline: none;
  color: #002f5b;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  align-content: center;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 0.05vw solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0.21vw 0.42vw rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 0.52vw;
  width: 100%;
  transition: all 0.3s ease-in-out;
  margin-top: 0.26vw;
}
.dropdown-content-rooms {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 0.05vw solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0.21vw 0.42vw rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 0.52vw;
  width: 100%;
  transition: all 0.3s ease-in-out;
  margin-top: 0.26vw;
}
.dropdown-content-rooms.show {
  display: block;
  animation: dropdownFade 0.3s ease-in-out;
  width: 100%;
}
.dropdown-content.show {
  display: block;
  animation: dropdownFade 0.3s ease-in-out;
}

@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-0.52vw);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.no-provided-data {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.no-provided-data span {
  color: #B5BACF;
  font-size: 1.7vw;
  font-weight: 700;
  padding: 5vw;
}
.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.63vw;
  cursor: pointer;
  transition: 0.2s;
  border-bottom: 0.05vw solid #f0f0f0;
}

.dropdown-item:last-child {
  border-bottom: none;
}

.dropdown-item:hover {
  background-color: #f0f8ff;
  color: #004080;
  font-weight: bold;
}

.counter {
  display: flex;
  align-items: center;
  gap: 0.52vw;
}

.counter button {
  background-color: transparent;
  border: 0.05vw solid #ccc;
  border-radius: 4px;
  padding: 0.26vw 0.52vw;
  font-size: 0.94vw;
  cursor: pointer;
  transition: 0.3s;
}

.counter button:hover {
  background-color: #004080;
  color: white;
}

.counter span {
  font-size: 0.83vw;
  font-weight: bold;
  color: #002f5b;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 3.2vw;
  right: 0;
  background-color: white;
  border: 0.05vw solid #ddd;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 0.21vw 0.42vw rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 0.52vw;
  transition: all 0.3s ease-in-out;
  width: 28%;
  margin-right: 9.2vw;
}
.people-dropdown-content{
  display: none;
  position: absolute;
  top: 4.17vw;
  background-color: white;
  border: 0.05vw solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0.21vw 0.42vw rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 0.52vw;
  transition: all 0.3s ease-in-out;
  width: 28%;
  margin-right: 9.2vw;
}
.dropdown-content.show {
  display: block;
  animation: dropdownFade 0.3s ease-in-out;
  justify-self: end;
}

@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-0.52vw);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.63vw;
  transition: 0.2s;
  border-bottom: 0.05vw solid #f0f0f0;
  border-radius: 4px;
  font-size: calc(0.10vw + 0.7vw);
  color: #002f5b;
  font-weight: 700;
  cursor: auto;
}
.dropdown-item:hover {
  background-color: transparent;
}

.dropdown-item:last-child {
  border-bottom: none;
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.52vw;
  border: 0.10vw solid rgba(230, 235, 242, 1);
  border-radius: 4px;
}

.counter button {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  padding: 0.26vw 0.52vw;
  font-size: 0.94vw;
  cursor: pointer;
  color: #A93F05;
}
.counter button:hover {
  background-color: rgba(230, 235, 242, 1);
  color: #A93F05;
}
.counter span {
  font-size: calc(0.10vw + 0.7vw);
  color: #002f5b;
  font-weight: 700;
}
.city-selector-field {
  display: flex;
  flex-direction: row;
  flex: 1;
  text-align: left;
  border-radius: 4px;
  align-items: center;
  background-color: white;
  cursor: pointer;
  padding-right: 0.52vw;
}

.city-selector-input {
  appearance: none;
  width: 100%;
  padding: 0.52vw;
  font-size: calc(0.10vw + 0.7vw);
  border: none;
  outline: none;
  color: #002f5b;
  font-weight: 600;
  cursor: pointer;
  align-self: center;
}

.city-dropdown-content {
  display: none;
  position: absolute;
  top: 2.72vw;
  left: 0.2vw;
  background-color: white;
  border: 0.05vw solid #ddd;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 0.21vw 0.42vw rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 16.5vw;
  max-height: 15.63vw;
  margin-top: 0.75vw;
  overflow-y: auto;
}

.city-dropdown-content.show {
  display: block;
}

.dropdown-header {
  font-weight: bold;
  font-size: 0.8vw;
  color: #002f5b;
}

.city-dropdown-item {
  display: flex;
  align-items: center;
  padding: 0.52vw;
  cursor: pointer;
  border-bottom: 0.05vw solid #f0f0f0;
  transition: background 0.3s;
}

.city-dropdown-item:last-child {
  border-bottom: none;
}

.city-dropdown-item:hover {
  background-color: #f0f0f0;
  color: #004080;
  font-weight: bold;
}

.location-icon {
  width: 1.04vw;
  height: 1.04vw;
  margin-right: 0.52vw;
}

.city-details {
  display: flex;
  flex-direction: column;
}

.city-details strong {
  font-size: 0.83vw;
  color: #004080;
}

.city-details small {
  color: gray;
}
input[matStartDate], input[matEndDate] {
  cursor: pointer;
}

.calendar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: center;
  align-self: center;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  font-size: calc(0.10vw + 0.7vw);
  padding: 0 0.52vw 0 1.04vw;
  color: #002f5b;

}
::ng-deep .mat-calendar {
  width: 16.5vw !important;
  background-color: white !important;
  border-radius: 8px;
  box-shadow: 0 0.21vw 0.42vw rgba(0, 0, 0, 0.1);
}

::ng-deep .mat-calendar-body-cell-content {
  font-size: 0.83vw !important;
  color: #333 !important;
  border-radius: 8px;
}
::ng-deep .mat-datepicker-content-container{
  background: white;
  border-radius: 8px;
}
::ng-deep .mat-datepicker-content .mat-calendar {
  height: auto !important;
}
::ng-deep .mat-calendar-header {
  background-color: white !important;
  color: white !important;
}

::ng-deep .mat-calendar-body-selected {
  background-color: #002f5b !important;
  color: white !important;
}
::ng-deep .cdk-overlay-pane {
  margin-top: 1.15vw;
  margin-left: -3.1vw;
}

mat-calendar{
  background: white;
}

.calendar-dropdown.show {
  display: block;
}
.search-field-icon {
  width: 2.60vw;
  height: 2.60vw;
  padding: 0.42vw 0 0.42vw 0.42vw;
  align-self: center;
}

.dropdown::placeholder {
  color: #8a8a8a;
}

.search-button {
  background-color: #07195f;
  color: white;
  width: 15%;
  height: 3vw;
  padding: 0.52vw 1.04vw;
  font-size: 1.20vw;
  font-weight: bold;
  border: 0.10vw solid white;
  border-radius: 4px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.search-button:hover {
  background-color: #39477f;
}

.search-field select:focus,
.search-field input:focus {
  outline: none;
}

.search-results-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #E6EBF2;
}
.search {
  display: flex;
  flex-direction: column;
  padding: 0 20vw 0 20vw;
  margin-top: 2.5vw;
  height: 100%;
}

.breadcrumb-bar-item {
  color: rgba(169, 63, 5, 1);
  font-weight: 400;
  text-decoration: none;
  font-size: 0.7vw;
}
.breadcrumb-bar-item-last {
  color: #0c0c20;
  font-weight: 400;
  text-decoration: none;
  font-size: 0.7vw;
}
.breadcrumb {
  display: flex;
  flex-direction: row;
  gap: 0.42vw;
}
.breadcrumb-arrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.anchors-list {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.anchor {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.anchor span {
  width: 100%;
  padding: 0.8vw;
  font-weight: 400;
  font-size: 0.8vw;
  text-align: center;
  border-bottom: 0.10vw solid rgba(230, 235, 242, 1);
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.anchor span.active {
  border-bottom: 0.10vw solid #A93F05;
}
.hotel-header {
  display: flex;
  flex-direction: row;
  margin-top: 1vw;
  width: 100%;
}
.hotel-header h1 {
  color: rgba(7, 25, 95, 1);
  font-weight: 700;
  width: 70%;
  font-size: 1.6vw;
}
.hotel-headers-btns {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 2vw;
}
.hotel-headers-btns input {
  background-color: rgba(7, 25, 95, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  width: 10vw;
  height: 2.2vw;
  font-size: 0.9vw;
  border-radius: 4px;
  transition: ease-in-out 0.2s;
}
.hotel-headers-btns input:hover {
  background-color: #39477f;
}
.hotel-headers-btns-small {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
}

.hotel-destination {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-top: 0.25vw;
  gap: 0.1vw;
}

.hotel-destination span {
  text-decoration: underline;
  color: rgba(12, 12, 32, 1);
  font-size: 0.65vw;
}

.hotels-visual {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 0.5vw;
  margin-top: 0.5vw;
}
.hotels-pictures {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}

.hotels-main-pictures {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  align-items: stretch;
  height: 100%;
  overflow: hidden;
}

.hotel-main-pic {
  width: 100%;
  height: 26.04vw;
  border-radius: 4px;
  object-fit: cover;
}

.hotels-lower-pictures {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: 0.5vw;
  gap: 1.5%;
  height: 7.81vw;
}

.hotels-lower-picture {
  flex: 1;
  max-width: 18%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  overflow: hidden;
}

.hotel-header-review {
  width: 30%;
  border: 2px solid rgba(230, 235, 242, 1);
  border-radius: 4px;
}
.hotel-header-review hr {
  border: 1px solid rgba(230, 235, 242, 1);
  opacity: 1;
  margin: 0;
}
.hotel-review-statistic {
  display: flex;
  flex-direction: row;
  padding: 0.8vw;
}
.rating {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  margin-left: auto;
}
.rating-score {
  width: 2vw;
  height: 2vw;
  font-size: calc(5px + 0.6vw);
  font-weight: 700;
  background-color: #07195F;
  color: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rating-text {
  display: flex;
  flex-direction: column;
}
.rating-text span {
  font-size: calc(3px + 0.7vw);
  color: #0C0C20B2;
  font-weight: 700;
}
.rating-text p {
  font-size: calc(4px + 0.6vw);
  color: #0C0C20B2;
  font-weight: 400;
  margin: 0;
  margin-left: auto;
}
.hotel-review-message {
  display: flex;
  flex-direction: row;
  padding: 0.8vw 0.5vw 0.8vw 0.8vw;
  align-items: stretch;
  width: 100%;
}
.hotel-review-message-child {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}
.hotel-review-message-header {
  color: rgba(12, 12, 32, 1);
  font-weight: 600;
  font-size: calc(5px + 0.6vw);
}
.hotel-review-container {
  display: flex;
  flex-direction: row;
}
.hotel-review {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5vw;
}
.hotel-review-date {
  color: rgba(85, 85, 99, 1);
  font-size: calc(8px + 0.3vw);
}
.hotel-review-comment {
  color: rgba(12, 12, 32, 1);
  font-size: calc(8px + 0.4vw);
}
.hotel-review-btn {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: auto;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.hotel-review-owner {
  display: flex;
  flex-direction: row;
  padding: 0.5vw;
  gap: 1vw;
}
.account-panel {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  height: 100%;
}
.account-panel p {
  margin: 0;
  align-content: center;
  font-size: calc(5px + 0.4vw);
  font-weight: 600;
}
.photo-container {
  position: relative;
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  border: 2px solid #07195F;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E6EBF2;
  overflow: hidden;
  cursor: pointer;
  margin-left: auto;
}

.photo-icon {
  position: relative;
  z-index: 1;
  color: #07195F;
  font-weight: bold;
  font-size: 1.5vw;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.review-owner-country {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2vw;
  color: rgba(85, 85, 99, 1);
}


.hotel-highlights {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1vw;
  gap: 0.8vw;
  justify-content: flex-start;
  width: 100%;
}

.highlight {
  display: flex;
  align-items: center;
  width: auto;
  gap: 0.5vw;
  padding: 0.6vw 0.8vw 0.6vw 0.8vw;
  border: 2px solid rgba(230, 235, 242, 1);
  border-radius: 4px;
}
.highlight img {
  width: 1.2vw;
  height: 1.2vw;
}

.highlight span {
  font-size: calc(5px + 0.6vw);
  color: rgba(12, 12, 32, 1);
}


.hotel-description {
  display: flex;
  flex-direction: row;
  margin-top: 2vw;
  width: 100%;
  justify-content: space-between;
}

.hotel-description span {
  width: 60%;
  font-size: calc(5px + 0.6vw);
}
.hotel-interaction-buttons {
  display: flex;
  flex-direction: column;
  background-color: rgba(230, 235, 242, 1);
  border-radius: 4px;
  width: 25%;
  height: 100%;
  padding: 1vw;
  gap: 0.5vw;
}
.hotel-interaction-buttons button {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: calc(3px + 0.4vw) 0 calc(3px + 0.4vw) 0 ;
  border-radius: 4px;
  gap: 0.5vw;
  justify-content: center;
  align-items: center;
}
.hotel-book-btn {
  background-color: #07195F;
  border: 2px solid #07195F;
  color: white;
  font-weight: 700;
  font-size: calc(4px + 0.7vw);
  transition: ease-in-out 0.2s;
}
.hotel-book-btn:hover {
  background-color: #39477f;
  border: 2px solid #39477f
}
.hotel-favourite-btn {
  background-color: white;
  border: 2px solid rgba(181, 186, 207, 1);
  color: rgba(7, 25, 95, 1);
  font-weight: 600;
  justify-content: left;
  padding: 0;
  transition: ease-in-out 0.2s;
}
.hotel-favourite-btn:hover {
  background-color: #f6f6f6;
}
.hotel-favourite-btn span {
  font-size: calc(5px + 0.7vw);
  align-self: center;
}


.hotel-facilities {
  display: flex;
  flex-direction: column;
  margin-top: 1vw;
}
.hotel-facilities span {
  font-size: calc(8px + 0.8vw);
  color: rgba(12, 12, 32, 1);
  font-weight: 700;
}
.hotel-facilities-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1vw;
  gap: 0.8vw;
  justify-content: flex-start;
  width: 70%;
}
.facility {
  display: flex;
  align-items: center;
  width: auto;
  gap: 0.2vw;
  padding: 0.2vw;
  border-radius: 4px;
}
.facility img {
  width: 24px;
  height: 24px;
}

.facility span {
  font-size: calc(4px + 0.5vw);
  font-weight: 400;
  color: rgba(12, 12, 32, 1);
}


.hotel-availability {
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
}
.hotel-availability-main-header {
  font-size: calc(10px + 1vw);
  color: rgba(12, 12, 32, 1);
  font-weight: 700;
}
.availability-search-bar {
  display: flex;
  gap: 0.26vw;
  width: 80%;
  height: 3.5vw;
  background: #a93f05;
  border-radius: 4px;
  padding: 0.26vw;
  margin-top: 0.5vw;
}
.availability-search-button {
  background-color: #07195f;
  color: white;
  width: auto;
  height: 3vw;
  padding: 0.5vw 2vw 0.5vw 2vw;
  font-size: 1.20vw;
  font-weight: bold;
  border: 0.10vw solid white;
  border-radius: 4px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.availability-search-button:hover {
  background-color: #39477f;
}

.search-field-rooms input {
  height: 100%;
  margin-left: auto;
  border: none;
  appearance: none;
  width: 100%;
  padding: 0.52vw;
  font-size: calc(2px + 0.6vw);
  border: none;
  outline: none;
  color: #002f5b;
  font-weight: 600;
}
.search-field-rooms input:focus {
  outline: none;
  box-shadow: none;
  border-color: transparent;
}
.hotel-apartments-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 4px;
  border: none;
  height: auto;
  margin-top: 1.5vw;
}
.hotel-apartments-list-headers {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.hotel-apartments-list-header {
  display: flex;
  flex-direction: row;
  background-color: #39477f;
  padding: 1vw;
  color: rgba(246, 250, 249, 1);
  font-weight: 700;
  font-size: calc(3px + 0.6vw);
  justify-content: center;
}
.hotel-apartment-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 2px solid rgba(217, 217, 217, 1);
  border-radius: 0 0 4px 4px;
  height: auto;
}
.hotel-apartment-info-type {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-right: 1px solid rgba(217, 217, 217, 1);
  padding: 1vw 1vw 2vw 1vw;
  gap: 1vw;
}
.hotel-apartment-info-quests {
  display: flex;
  flex-direction: row;
  width: 25%;
  border-right: 1px solid rgba(217, 217, 217, 1);
  border-left: 1px solid rgba(217, 217, 217, 1);
  padding: 1vw 1vw 2vw 1vw;
  gap: 0.5vw;
}
.hotel-apartment-info-price {
  display: flex;
  flex-direction: column;
  width: 35%;
  border-left: 1px solid rgba(217, 217, 217, 1);
  padding: 1vw 1vw 2vw 1vw;
}
.info-type-header {
  color: #a93f05;
  text-decoration: underline;
  font-weight: 600;
  font-size: calc(7px + 0.8vw);
  width: 80%;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.info-type-header:hover {
  color: #7c2f04;
}
.info-bedroom {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  align-items: center;
}
.bedroom-name {
  color: rgba(12, 12, 32, 1);
  font-weight: 700;
  font-size: calc(5px + 0.5vw);
}
.bed-count {
  color: rgba(12, 12, 32, 1);
  font-weight: 400;
  font-size: calc(5px + 0.5vw);
}
.room-facilities-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8vw;
  justify-content: flex-start;
  width: 100%;
}
.hotel-apartment-info-type hr {
  border: 1px solid rgba(217, 217, 217, 1);
  opacity: 1;
  margin: 0;
}
.room-amenities {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3vw;
  justify-content: flex-start;
  width: 100%;
}
.amenity {
  display: flex;
  align-items: center;
  width: auto;
  gap: 0.2vw;
  padding: 0.2vw;
  border-radius: 4px;
}
.amenity img {
  width: 24px;
  height: 24px;
}

.amenity span {
  font-size: calc(4px + 0.5vw);
  font-weight: 400;
  color: rgba(12, 12, 32, 1);
}

.price-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.old-price {
  color: rgba(7, 25, 95, 1);
  text-decoration: line-through;
  font-weight: 700;
  font-size: calc(5px + 0.6vw);
}
.new-price {
  font-size: calc(8px + 0.8vw);
  color: rgba(12, 12, 32, 1);
  font-weight: 700;
}
.info-book-btn {
  background-color: #07195F;
  color: white;
  font-weight: 700;
  border-radius: 4px;
  font-size: calc(4px + 0.7vw);
  transition: ease-in-out 0.2s;
  width: 50%;
  padding: 0.5vw;
  align-self: center;
  margin-top: auto;
  border: none;
}
.info-book-btn:hover {
  background-color: #39477f;
}

.hotel-guest-reviews {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3vw;
  gap: 0.5vw;
}
.hotel-guest-main-header {
  font-size: calc(10px + 1vw);
  color: rgba(12, 12, 32, 1);
  font-weight: 700;
}

.quest-rating {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}
.quest-rating-score-text-container {
  display: flex;
  flex-direction: row;
  gap: 0.2vw;
  align-items: center;
}
.quest-rating-score {
  width: 2vw;
  height: 2vw;
  font-size: calc(5px + 0.6vw);
  font-weight: 700;
  background-color: #07195F;
  color: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quest-rating-text {
  font-size: calc(4px + 0.6vw);
  color: #0C0C20B2;
  font-weight: 400;
}
.quest-reviews {
  font-size: calc(4px + 0.6vw);
  color: #0C0C20B2;
  font-weight: 400;
}
.hotel-reviews-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.5vw;
}
.quest-review {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 17.5vw;
  border: 2px solid rgba(230, 235, 242, 1);
  border-radius: 4px;
  padding: 1vw;
  gap: 1vw;
}
.review-header {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.review-header-profile {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  width: 100%;
}
.user-info-container {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.user-info-container p {
  margin: 0;
  align-content: center;
  font-size: calc(5px + 0.4vw);
  font-weight: 600;
  color: rgba(12, 12, 32, 1);
}

.review-photo-container {
  position: relative;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  border: 2px solid #07195F;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E6EBF2;
  overflow: hidden;
  cursor: pointer;
  margin-left: auto;
}
.review-owner {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
}

.review-photo-icon {
  position: relative;
  z-index: 1;
  color: #07195F;
  font-weight: bold;
  font-size: 1.5vw;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.review-country-name {
  font-size: calc(4px + 0.4vw);
}
.review-date {
  display:flex;
  flex-direction: column;
  color: rgba(85, 85, 99, 1);
  font-size: calc(5px + 0.4vw);
  margin-left: auto;
  align-self: center;
}
.review-message {
  width: 100%;
  color: rgba(12, 12, 32, 1);
  font-size: calc(5px + 0.5vw);
  max-height: 2.5vw;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  position: relative;
}
.review-tags {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.25vw;
}
.review-tag {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}
.review-tag span {
  color: rgba(12, 12, 32, 1);
  font-size: calc(4px + 0.5vw);
}
.hotel-reviews-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .hotel-reviews-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.5vw;
    overflow: hidden;
    justify-content: center;
  }

  .nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(217, 217, 217, 1);
    color: rgba(12, 12, 32, 1);
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    z-index: 10;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    &:hover {
      background: rgb(119, 119, 119, 0.4);
    }

    &:disabled {
      background: rgba(213, 213, 213, 0.3);
      cursor: not-allowed;
    }
  }

  .left-button {
    left: -20px;
  }

  .right-button {
    right: -20px;
  }
}
.open-modal-review {
  color: rgba(169, 63, 5, 1);
  font-weight: 600;
  font-size: calc(5px + 0.5vw);
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.open-modal-review:hover {
  color: rgb(126, 48, 4);
}

.copyURL-btn {
  transition: ease-in-out 0.2s;
  cursor: pointer;
  padding: 0.3vw;
  border-radius: 100%;
}
.copyURL-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.add-review {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 1vw;
}
.add-review span {
  color: #0C0C20;
  font-weight: 700;
  font-size: 0.9vw;
}
.add-review-btn {
  display: flex;
  flex-direction: row;
  color: rgba(85, 85, 99, 1);
  font-weight: 400;
  font-size: 1.5vw;
  border-radius: 4px;
  background-color: rgba(230, 235, 242, 1);
  width: 1vw;
  height: 1vw;
  align-items: center;
  justify-content: center;
}
