* {
  font-family: 'Open Sans', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; display: flex; flex-direction: column;}

.main-page-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
  height: 6vw;
  padding: 1vw;
  gap: 1vw;
  background-color: rgba(230, 235, 242, 1);
  margin-top: auto;
}
.main-page-footer span{
  align-self: center;
  font-weight: 400;
  font-size: 0.65vw;
  color: rgba(85, 85, 99, 1);
}
.main-page-footer svg{
  align-self: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
