<div class="body">
  <hr style="margin-top: -1px">
  <div class="booking-page">
    <div class="booking-details-container">
      <div class="booking-hotel-details">
        <span class="hotel-details-name">Test hotel name</span>
        <span class="hotel-details-address">Test address</span>
        <div class="quest-rating">
          <div class="quest-rating-score">8.6</div>
          <div class="quest-rating-score-text-container">
            <div class="quest-rating-text">Very good</div>
            <div>&bull;</div>
            <span class="quest-reviews">89 reviews</span>
          </div>
        </div>
      </div>

      <div class="your-booking-details">
        <span class="your-booking-header">Your booking details</span>
        <div class="check-in-out">
          <div class="check-in">
            <p>Check-in</p>
            <strong>Thu 23 Jan 2025</strong>
            <p>15:00 - 00:00</p>
          </div>
          <div class="divider"></div>
          <div class="check-out">
            <p>Check-out</p>
            <strong>Fri 24 Jan 2025</strong>
            <p>Until 12:00</p>
          </div>
        </div>
        <div class="stay-length">
          <p>Total length of stay:</p>
          <strong>1 night</strong>
        </div>

        <hr class="separator">

        <div class="room-selection">
          <p>You selected</p>
          <strong>1 room for 2 adults</strong>
        </div>

        <a href="#" class="change-selection">Change your selection</a>
      </div>

      <div class="price-container">
        <div class="price-label">Price</div>
        <div class="price-details">
          <div class="old-price">UAH 30 176</div>
          <div class="new-price">UAH 15,084</div>
        </div>
      </div>

      <div class="cancellation-container">
        <h3 class="cancellation-title">How much will it cost to cancel?</h3>
        <p class="free-cancellation">Free cancellation before <strong>2:00 PM on Feb 23</strong></p>

        <div class="cancellation-fee">
          <span>After 2:00 PM on Feb 23</span>
          <span class="cancellation-price">UAH 1,313.25</span>
        </div>
      </div>
    </div>

    <div class="booking-user-info-container">
      <div class="booking-user-account">
        <div class="account-photo-container">
          <img class="account-photo-icon" src="assets/hotel-test-room.jpg"/>
        </div>
        <div class="user-account-mail">
          <span class="mail-header">You are signed in</span>
          <span class="mail-text">mail#gmail.com</span>
        </div>
      </div>

      <div class="enter-details-container">
        <span class="details-header">Enter your details</span>
        <div class="details-account-name">
          <div class="input-field">
            <div class="input-field-header">
              <span class="input-field-header-text">Name</span>
              <span class="input-field-header-star">*</span>
            </div>
            <input type="text" placeholder="Enter your name"/>
          </div>
          <div class="input-field">
            <div class="input-field-header">
              <span class="input-field-header-text">Surname</span>
              <span class="input-field-header-star">*</span>
            </div>
            <input type="text" placeholder="Enter your surname"/>
          </div>
        </div>
        <div class="input-field">
          <div class="input-field-header">
            <span class="input-field-header-text">Email address</span>
            <span class="input-field-header-star">*</span>
          </div>
          <input type="text" placeholder="Enter your email address"/>
          <span class="input-field-footer">Confirmation email goes to this address</span>
        </div>
        <div class="input-field">
          <div class="input-field-header">
            <span class="input-field-header-text">Country/region</span>
            <span class="input-field-header-star">*</span>
          </div>
          <select></select>
        </div>
        <div class="input-field">
          <div class="input-field-header">
            <span class="input-field-header-text">Phone number</span>
            <span class="input-field-header-star">*</span>
          </div>
          <input type="text" placeholder="Enter your phone number"/>
          <span class="input-field-footer">Needed by the property to validate your booking</span>
        </div>
      </div>
    </div>
  </div>
</div>
