.body {
  padding: 0 15vw;
}
hr {
  border: 2px solid rgb(169, 63, 5);
  opacity: 1;
  width: 100%;
  border-radius: 4px;
}
.padded-body {
  padding: 0 5vw;
}
.booking-page {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  width: 100%;
}
.booking-details-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 2vh;
}
.booking-hotel-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 1.4vh 0.8vw 1.4vh 0.8vw;
  border: 2px solid rgba(217, 217, 217, 1);
  border-radius: 4px;
  gap: 0.5vh;
}
.hotel-details-name {
  color: rgba(7, 25, 95, 1);
  font-weight: 700;
  font-size: calc(6px + 0.5vw);
}
.hotel-details-address {
  color: rgba(12, 12, 32, 1);
  text-decoration: underline;
  font-size: calc(5px + 0.5vw);
}
.quest-rating {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  margin-top: 1vh;
}
.quest-rating-score-text-container {
  display: flex;
  flex-direction: row;
  gap: 0.2vw;
  align-items: center;
}
.quest-rating-score {
  width: 2vw;
  height: 4vh;
  font-size: calc(5px + 0.8vw);
  font-weight: 700;
  background-color: #07195F;
  color: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quest-rating-text {
  font-size: calc(4px + 0.6vw);
  color: #0C0C20B2;
  font-weight: 400;
}
.quest-reviews {
  font-size: calc(4px + 0.6vw);
  color: #0C0C20B2;
  font-weight: 400;
}
.your-booking-details {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding: 1.4vh 0.8vw 1.4vh 0.8vw;
  border: 2px solid rgba(217, 217, 217, 1);
  border-radius: 4px;
}
.your-booking-header {
  color: rgba(12, 12, 32, 1);
  font-size: calc(6px + 0.5vw);
  font-weight: 700;
}
.check-in-out {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 0.5vh;
}
.check-in, .check-out {
  width: auto;
  margin-right: auto;
}
.check-in p, .check-out p {
  font-size: calc(2px + 0.5vw);
  color: #6b6b6b;
}
.check-in strong, .check-out strong {
  font-size: calc(5px + 0.5vw);
  color: #0c0c20;
  display: block;
  margin: 5px 0;
}
.divider {
  width: 2px;
  background-color: rgba(230, 235, 242, 1);
  height: 80%;
  margin-right: auto;
}
.stay-length p {
  margin: 0;
  font-size: calc(2px + 0.5vw);
  color: rgba(12, 12, 32, 1);
  font-weight: 600;
}
.stay-length strong {
  font-size: 14px;
  color: #0c0c20;
}
.separator {
  border: 1.5px solid rgba(230, 235, 242, 1);
}
.room-selection p {
  margin: 0;
  font-size: calc(2px + 0.5vw);
  color: rgba(12, 12, 32, 1);
  font-weight: 600;
}
.room-selection strong {
  font-size: calc(4px + 0.5vw);
  color: #0c0c20;
}
.change-selection {
  display: inline-block;
  margin-top: 10px;
  font-size: calc(2px + 0.5vw);
  color: #b04a02;
  text-decoration: none;
  font-weight: bold;
}
.change-selection:hover {
  text-decoration: underline;
}
.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6ebf2;
  padding: 1.4vh 0.8vw 1.4vh 0.8vw;
  border-radius: 4px;
  width: 100%;
}
.price-label {
  font-size: calc(8px + 0.8vw);
  font-weight: 700;
  color: rgba(12, 12, 32, 1);
  align-self: end;
}
.price-details {
  text-align: right;
}
.old-price {
  font-size: calc(6px + 0.6vw);
  font-weight: 700;
  color: rgba(7, 25, 95, 1);
  text-decoration: line-through;
}
.new-price {
  font-size: calc(8px + 0.8vw);
  font-weight: 700;
  color: rgba(12, 12, 32, 1);
}
.cancellation-container {
  border: 2px solid rgba(217, 217, 217, 1);
  border-radius: 4px;
  padding: 1.4vh 0.8vw 1.4vh 0.8vw;
  width: 100%;
  gap: 1vh;
}
.cancellation-title {
  font-size: calc(5px + 0.6vw);
  color: rgba(12, 12, 32, 1);
}
.free-cancellation {
  color: #b44600;
  font-weight: 700;
}
.cancellation-fee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(4px + 0.6vw);
  color: #0c0c20;
}




.booking-user-info-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 2vh;
}
.booking-user-account {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 2px solid rgba(217, 217, 217, 1);
  padding: 1.4vh 0.8vw 1.4vh 0.8vw;
  border-radius: 4px;
  gap: 0.5vw;
}
.user-account-mail {
  display: flex;
  flex-direction: column;
}
.mail-header {
  font-weight: 600;
  font-size: calc(3px + 0.6vw);
}
.mail-text {
  font-weight: 400;
  font-size: calc(2px + 0.5vw);
}
.account-photo-container {
  position: relative;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  border: 2px solid #07195F;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E6EBF2;
  overflow: hidden;
  cursor: pointer;
}
.account-photo-icon {
  position: relative;
  z-index: 1;
  color: #07195F;
  font-weight: bold;
  font-size: 1.5vw;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.enter-details-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid rgba(217, 217, 217, 1);
  border-radius: 4px;
  padding: 1.4vh 0.8vw 1.4vh 0.8vw;
  gap: 1vh;
}
.details-header {
  color: rgba(7, 25, 95, 1);
  font-weight: 700;
  font-size: calc(8px + 0.8vw);
}
.details-account-name {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}
.input-field {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 0.4vh;
}
.input-field input, select {
  width: 100%;
  border: 1px solid rgba(12, 12, 32, 1);
  border-radius: 4px;
  padding: 0.8vh 0.4vw 0.8vh 0.4vw;
}
.input-field-header {
  display: flex;
  flex-direction: row;
  gap: 0.2vw;
}
.input-field-footer {
  color: rgba(85, 85, 99, 1);
  font-weight: 400;
  font-size: calc(4px + 0.4vw);
}
.input-field-header-text {
  font-size: calc(5px + 0.5vw);
  color: rgba(12, 12, 32, 1);
  font-weight: 600;
}
.input-field-header-star {
  font-size: calc(5px + 0.5vw);
  color: rgba(169, 63, 5, 1);
  font-weight: 600;
}
.card-fields-main {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.card-fields {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1vh;
}
.card-field {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1vh;
}
.cards-expire-fields {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  width: 60%;
}
.input-div {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.input-div span {
  color: rgba(12, 12, 32, 1);
  font-weight: 600;
  font-size: 0.7vw;
}
.input-edit {
  width: 100%;
  border: 1px solid rgba(12, 12, 32, 1);
  border-radius: 4px;
  padding: 0.8vh 0.4vw 0.8vh 0.4vw;
}
.input-valid-edit {
  width: 30%;
  padding: 0.5vw 0;
  color: rgba(12, 12, 32, 1);
  border: 1px solid rgba(12, 12, 32, 1);
  border-radius: 4px;
  font-size: 0.7vw;
  text-align: -webkit-center;
}
.input-edit:focus {
  border: 1px solid rgba(169, 63, 5, 1);
  outline: none;
}
.input-valid-edit:focus {
  border: 1px solid rgba(169, 63, 5, 1);
  outline: none;
}
.good-to-know-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid rgba(217, 217, 217, 1);
  padding: 1.4vh 0.8vw 1.4vh 0.8vw;
  border-radius: 4px;
  gap: 0.5vw;
}
.good-to-know-desc {
  display: flex;
  width: 70%;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 0.7vw;
}
.room-details-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid rgba(217, 217, 217, 1);
  padding: 1.4vh 0.8vw 1.4vh 0.8vw;
  border-radius: 4px;
  gap: 0.5vw;
}
.room-count-info {
  display: flex;
  flex-direction: column;
}
.room-count-info span {
  display: flex;
  gap: 0.5vw;
  color: rgba(0, 0, 0, 1);
  font-size: 0.7vw;
}
.full-guest-name-field {
  display: flex;
  flex-direction: column;
  gap: 0.8vh;
  width: 40%;
}
.guest-count {
  color: rgba(158, 158, 166, 1);
  font-weight: 600;
  font-size: 0.65vw;
}
.gust-count-header {
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
  font-size: 0.7vw;
  margin-bottom: -0.7vh;
}
.requests-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid rgba(217, 217, 217, 1);
  padding: 1.4vh 0.8vw 1.4vh 0.8vw;
  border-radius: 4px;
  gap: 0.5vw;
}
.requests-desc {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 0.65vw;
  width: 80%;
}
.optional {
  color: rgba(85, 85, 99, 1);
  font-weight: 400;
  font-size: 0.6vw;
}
.input-request {
  height: 10vh;
  border: 1px solid rgba(12, 12, 32, 1);
  border-radius: 4px;
  padding: 0.5vw 1vh;
}
.info-book-btn {
  display: flex;
  flex-direction: row;
  background-color: #07195F;
  color: white;
  font-weight: 700;
  border-radius: 4px;
  font-size: calc(4px + 0.8vw);
  transition: ease-in-out 0.2s;
  width: 20%;
  padding: 0.5vw;
  align-self: end;
  justify-content: center;
  border: none;
  margin-top: 2vh;
  margin-bottom: 4vh;
}
.info-book-btn:hover {
  background-color: #39477f;
}
.progress-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: transparent;
  margin: 1vw 0 1vw 0;
  justify-content: space-between;
  align-items: center;
  gap: 0.5vw;
}
.progress-status-container {
  display: flex;
  flex-direction: row;
  width: auto;
  gap: 0.5vw;
  height: 100%;
}
.progress-status-container span {
  display: flex;
  flex-direction: column;
  color: rgba(12, 12, 32, 1);
  font-weight: 600;
  font-size: 0.7vw;
  align-self: center;
}
.progress-bar hr {
  border: 1px solid rgba(158, 158, 166, 1);
  opacity: 1;
  width: 100%;
  border-radius: 4px;
}
.details-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2vh;
}
.prev-next-buttons {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  justify-content: space-between;
}


.choose-cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 0.5vw;
  position: relative;
}
.popup {
  display: flex;
  flex-direction: column;
  gap: 0.2vw;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 0.5vw;
  width: 11.5vw;
  z-index: 1000;
}
.popup hr {
  border: 1px solid rgba(217, 217, 217, 1);
  opacity: 1;
  width: 100%;
  border-radius: 4px;
  margin: 0;
}
.popup-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  padding: 2px 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.popup-card {
  display: flex;
  flex-direction: column;
  gap: 0.2vw;
}
.popup-item:hover {
  background: #f5f5f5;
}
.add-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.popup-item span {
  color: rgba(12, 12, 32, 1);
  font-weight: 400;
  font-size: 0.7vw;
}
.add-card:hover {
  background: #f5f5f5;
}
.add-card span {
  color: rgba(12, 12, 32, 1);
  font-weight: 400;
  font-size: 0.7vw;
}
.add-card-btn {
  display: flex;
  flex-direction: row;
  color: rgba(85, 85, 99, 1);
  font-weight: 400;
  font-size: 1.5vw;
  border-radius: 4px;
  background-color: rgba(230, 235, 242, 1);
  width: 1vw;
  height: 1vw;
  align-items: center;
  justify-content: center;
}
.payment-radio-container {
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

.payment-method {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
  cursor: pointer;
}

/* Стили текста */
.payment-method span {
  color: rgba(85, 85, 99, 1);
  font-weight: 600;
  font-size: 0.7vw;
}

/* Скрываем стандартные радио-кнопки */
.payment-method input {
  display: none;
}

/* Стили кастомного радио */
.custom-radio {
  width: 1vw;
  height: 1vw;
  border: 2px solid rgba(85, 85, 99, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  position: relative;
}

/* Внутренний кружок (изначально пустой) */
.custom-radio::after {
  content: "";
  width: 0.5vw;
  height: 0.5vw;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

/* Стили для выбранной радио-кнопки */
.payment-method input:checked + .custom-radio {
  border-color: #A93F05;
}

.payment-method input:checked + .custom-radio::after {
  background-color: #A93F05;
}

.save-card {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  align-items: center;
}
.save-card span {
  color: rgba(85, 85, 99, 1);
  font-weight: 400;
  font-size: 0.55vw;
}
.save-card input {
  width: 1vw;
  height: 1vw;
  border-radius: 4px;
  cursor: pointer;
  accent-color: #07195F;
}
.prev-btn-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}
.previous-button {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  color: rgba(85, 85, 99, 1);
  font-weight: 600;
  font-size: calc(4px + 0.8vw);
  width: 30%;
  padding: 0.5vw;
  align-self: end;
  justify-content: center;
  border: none;
  margin-top: 2vh;
  margin-bottom: 4vh;
  align-items: center;
  gap: 0.5vw;
}
.previous-button:hover {
  color: #a93f05;
}
.previous-button:hover svg path {
  fill: #a93f05;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.processing-modal {
  position: fixed;
  top: 35%;
  width: 35%;
  height: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #F7F9FA;
  padding: 2vw;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 1100;
}

.processing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  margin-top: 2.5vw;
}
.processing-content p {
  color: rgba(7, 25, 95, 1);
  font-weight: 700;
  font-size: 1.5vw;
}
