.body {
  padding: 0 15vw;
}
.up-hr {
  border: 2px solid rgb(169, 63, 5);
  opacity: 1;
  width: 100%;
  border-radius: 4px;
}
.booking-page {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  width: 100%;
  justify-content: center;
  margin-top: 4vh;
}
.booking-details-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 1vh;
  text-align: left;
}
.main-header {
  color: rgba(7, 25, 95, 1);
  font-weight: 700;
  font-size: 1.5vw;
}
.description {
  color: rgba(85, 85, 99, 1);
  font-weight: 400;
  font-size: 0.7vw;
}
.info-book-btn {
  display: flex;
  flex-direction: row;
  background-color: #07195F;
  color: white;
  font-weight: 700;
  border-radius: 4px;
  font-size: calc(4px + 0.8vw);
  transition: ease-in-out 0.2s;
  width: 100%;
  padding: 0.5vw;
  align-self: center;
  justify-content: center;
  border: none;
  margin-top: 2vh;
  margin-bottom: 4vh;
}
.info-book-btn:hover {
  background-color: #3750a1;
}
.down-hr {
  background: rgba(217, 217, 217, 1);
  opacity: 10;
  margin-top: -1vw;
  width: 100%;
  align-self: center;
}
.down-hr:not([size]) {
  height: 3px;
}
.copyright {
  color: rgba(85, 85, 99, 1);
  font-weight: 400;
  font-size: 0.65vw;
  margin-top: 1vh;
  text-align: center;
}
input {
  width: 100%;
  height: 3vh;
  border: 1px solid rgba(12, 12, 32, 1) ;
  border-radius: 4px;
  padding: 0 10px;
  align-self: center;
}
.code-inputs {
  display: flex;
  width: 100%;
  gap: 1vw;
  justify-content: space-between;
}

.code-input {
  width: 2.5vw;
  height: 3vw;
  text-align: center;
  font-size: 1vw;
  border: 1px solid rgba(85, 85, 99, 1);
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease;
  color: rgba(12, 12, 32, 1);
  font-weight: 400;
}

.code-input:focus {
  border-color: #7c2f04;
}

.error {
  border-color: #A93F05;
  color: #A93F05;
}
