<div class="body">
  <hr class="up-hr" style="margin-top: -1px">
  <div class="booking-page">
    <div class="booking-details-container">
      <span class="main-header">{{ isCodeSend ? "Check your email" :"Enter your email" }}</span>
      <span class="description" *ngIf="!isCodeSend">Please provide your email so that we can send you a letter with link to reset your password.</span>
      <span class="description" *ngIf="isCodeSend">We send email to {{ email }}. Please follow the instructions in the email to continue.</span>
      <input type="text" *ngIf="!isCodeSend" [(ngModel)]="email" placeholder="Enter your email"/>
      <button class="info-book-btn" [class.info-book-btn-disabled]="isButtonDisabled" [disabled]="isButtonDisabled" (click)="sendCodeToMail()">{{ isCodeSend ? "Send letter again" :"Send letter" }}</button>
      <span class="timer" *ngIf="isCodeSend">
      Didn’t receive the letter? Please check your spam folder or request another one in <b>{{ timer }}</b> seconds.</span>
      <span routerLink="/login" class="back-to-login">Return to sign up page</span>
      <hr class="down-hr">
      <span class="copyright">Copyright © 2024–2025 Orbistay.com™. All rights reserved.</span>
    </div>
  </div>
</div>
