<div class="modal-backdrop" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="photo-container">
      <div class="main-photo-wrapper">
        <button class="nav-button prev-button" (click)="changeImage(room, -1)">&#10094;</button>
        <img class="main-photo" [src]="room.images[currentImageIndex]" alt="Hotel Main Photo">
        <button class="nav-button next-button" (click)="changeImage(room, 1)">&#10095;</button>
      </div>


      <div class="thumbnail-container">
        <img *ngFor="let room_image of room.images" class="thumbnail" src="{{room_image}}" alt="Thumbnail 1">
      </div>
    </div>
    <div class="room-description">
      <div class="room-description-header">
        <span class="room-description-header-name">{{ room.name }}</span>
        <span class="room-description-close-btn">
          <svg class="close-btn" (click)="closeModal()" style="fill: rgba(85, 85, 99, 1);" xmlns="http://www.w3.org/2000/svg" width="1.8vw" height="3.6vh" viewBox="0 0 384 512"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
        </span>
      </div>

      <div class="room-facilities">
        <div class="room-facilities-list">
          <ng-container *ngFor="let facility of room_facilities">
            <div class="facility" *ngIf="checkFacility(room.roomFacilityLinks, facility.name)">
              <img [src]="'assets/icons/gray-icons/' + facility.icon" [alt]="facility.name" />
              <span>{{ facility.name }}</span>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="room-detailed-description">
        <span class="room-detailed-description-header">Room size: {{ room.area }}</span>
        <span class="room-detailed-description-text">
          {{ room.roomBedLinks.length }} {{ room.roomBedLinks[0].bedType | lowercase }}
          {{ room.roomBedLinks.length > 1 ? 'beds' : 'bed' }}
        </span>

        <span class="room-detailed-description-text">{{ room.description }}</span>
      </div>

      <div class="room-details">
        <div class="details-section" *ngIf="getRoomViews().length > 0">
          <h3>View:</h3>
          <ul class="details-list">
            <li *ngFor="let item of getRoomViews()">{{ item }}</li>
          </ul>
        </div>

        <div class="details-section">
          <h3>Amenities and services:</h3>
          <ul class="details-list">
            <li *ngFor="let item of room.roomHighlightLinks">{{ item.name | titlecase}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
